.manage-user-container {
  padding: 10px;
  .users-content {
    .btn-add-new {
      button {
        border: none;
        background-color: #fff;
        color: #000;
        font-size: 14px;
      }
    }

  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
.modal-add-user {
  .img-preview {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-height: 100%;
      max-width: 100%;
      // object-fit: cover;
    }
  }
  .label-upload {
    // cursor: pointer;
    // color: #1890ff;
    // margin-top: 10px;

    display: flex;
    gap: 5px;
    width: fit-content;
    align-items: center;
    border-radius: 5px;
    background-color: #eeeeee;

    border: none;
    cursor: pointer;
    &:hover {
      background-color: #dcdcdc;
    }
  }
}
